@model BookInfo

<!-- Partial view that can be dropped into any page -->

<div class="d-flex justify-content-center">
    <div class="card card-ouline-primary m-1 p-1 bg-dark" style="width: 20rem;">
        <div class="text-light">
            <h4 class="card-title">@Model.Title</h4>
            Author: @Model.AuthorFirstName @Model.AuthorMiddleName @Model.AuthorLastName <br />
            Publisher: @Model.Publisher <br />
            ISBN: @Model.ISBN <br />
            Classification: @Model.Classification <br />
            Category: @Model.Category <br />
            Pages: @Model.Pages <br /> 
            <span class="badge badge-primary">$@Model.Price</span>
        </div>
    </div>
</div>