@model BookInfo

<!-- Partial view that can be dropped into any page -->

<div class="d-flex justify-content-center">
    <div class="card card-ouline-primary m-1 p-1 bg-dark" style="width: 20rem;">
        <div class="text-light">
            <h4 class="card-title">@Model.Title</h4>
            Author: @Model.AuthorFirstName @Model.AuthorMiddleName @Model.AuthorLastName <br />
            Publisher: @Model.Publisher <br />
            ISBN: @Model.ISBN <br />
            Classification: @Model.Classification <br />
            Category: @Model.Category <br />
            Pages: @Model.Pages <br /> 
            <span class="badge badge-primary">$@Model.Price</span>
        </div>

        <form id="@Model.Id" asp-page="/Cart" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                @Model.Title
                <button type="submit" class="btn-success btn-sm pull-right" style="float:right">Add to Cart</button>
            </span>
        </form>
    </div>
</div>