@{
    ViewData["Title"] = "Home Page";
}

@model BookInfoViewModel

<h1 class="text-center display-5">Professor Hiltons Favorite Books</h1>
<br />

<!--This container displays the quotes of 2 prominent indivduals on reading. Enjoy the use of row and column from bootstrap-->

<div class="col-4">
    <blockquote class="text-left">
        <p>
            "A capacity, and taste, for reading, gives access to whatever has already
            been discovered by others. It is the key, or one of the keys, to the already
            solved problems. And not only so. It gives a relish, and facility, for
            successfully pursuing the [yet] unsolved ones."
        </p>
        <footer class="text-secondary">- Abraham Lincoln</footer>
    </blockquote>
    <blockquote class="text-left">
        <p>
            “In the case of good books, the point is not to see how many of them you can get through, but rather how many can get through to you.”
        </p>
        <footer class="text-secondary">– Mortimer J. Adler</footer>
    </blockquote>
</div>

<!--Generates tables from data stored in database. Pretty neat aye?-->

<div class="col-8">
    <table class="table table-striped table-borderless">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">ISBN</th>
            <th scope="col">Classification</th>
            <th scope="col">Cagtegory</th>
            <th scope="col">Price</th>
        </tr>
        @foreach (var x in Model.BookInfos)

        {
            <!--Data is normalized and seperated. Wasn't sure if we had to go through the whole ordeal of
                making more than one table in the database, so I made one.-->
            <tr>
                <td>@x.Title</td>
                <td>@x.AuthorFirstName @x.AuthorMiddleName @x.AuthorLastName</td>
                <td>@x.Publisher</td>
                <td>@x.ISBN</td>
                <td>@x.Classification</td>
                <td>@x.Category</td>
                <td>@x.Price</td>
            </tr>
        }
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item"><div page-model="@Model.PageInfo" page-action="Index"></div></li>
        </ul>

    </nav>
</div>